html {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    width: 100vh;
    height: auto;
    color: black;
    font-family: 'Lucida Console', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 24px;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    height: 960px;
    width: 640px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
}

.display {
    font-family: 'Digital7 Mono Italic', 'Digital7 Italic', 'Digital7 Mono', 'Digital7 Regular', 'Courier New', Courier, monospace;
    flex: 1 0 auto;
    border: 2px solid black;
    padding: 4px;
    margin: 4px;
}

.controller {
    flex: 5 0 auto;
    display: flex;
    flex-direction: column;
}

.keyrow {
    flex: 1 0 auto;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.keyrow li {
    flex: 1 0 auto;
    border: 2px solid black;
    padding: 4px;
    margin: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@font-face {
    font-family: 'Digital7 Regular';
    src: url(fonts/Digital7-1e1Z.ttf);
}

@font-face {
    font-family: 'Digital7 Mono';
    src: url(fonts/Digital7Mono-B1g5.ttf);
}

@font-face {
    font-family: 'Digital7 Italic';
    src: url(fonts/Digital7Italic-RBM3.ttf);
}

@font-face {
    font-family: 'Digital7 Mono Italic';
    src: url(fonts/Digital7Monoitalic-8xKz.ttf);
}